/*用户管理*/
.shandow {
    position: fixed;
    height: 100%;
    width: 100%;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: rgba(0, 0, 0, 0.6);
}
#usermanage{
    width: 90%;
    height: 92%;
    position: absolute;
    margin: auto;
    top: 20px;
    left: 0;
    right: 0;
}
#title{
    height: 7%;
    width: 50%;
    font-size: 35px;
    border-bottom: solid #CCCCCC;
}
#manage{
    height: 93%;
    width: 100%;
    margin-top: 5px;
}
#managebutton{
    width: 100%;
    height: 10%;
    position: relative;
}
#managebutton input{
    width: 200px;
    height: 30px;
}
#managebutton div{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #15D6BA;
}
#select{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
}
#selectByIdOrUserName{
    position: absolute;
    margin: auto;
    top: 0;
    left: 200px;
    bottom: 0;
    cursor: pointer;
}
#adduser{
    position: absolute;
    margin: auto;
    top: 0;
    right: 120px;
    bottom: 0;
    cursor: pointer;
}
#deleteusers{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
#userlist{
    width: 100%;
    text-align: center;
    vertical-align: middle;
}
#userlist button{
    border: 0px;
    font-size: 18px;
    cursor: pointer;
    background-color: white;
}
#userlist button:nth-child(1){
    color: deeppink;
}
#userlist button:nth-child(2){
    color: purple;
}
#userlist button:nth-child(3){
    color: green;
}
#userlist tr{
    height: 43px;
    font-size: 18px;
}
#userlist tr:nth-child(1){
    height: 50px;
    font-size: 20px;
    background-color: #CCCCCC;
}
#fenye{
    height: 30px;
    float: right;
    line-height: 30px;
}
#fenye div{
    float: left;
    margin: 0 20px 0 0;
}
.fanye:hover{
    cursor: pointer;
}
#pageNo{
    width: 30px;
    text-align: center;
}
.detail{
    position: fixed;
    margin: 0;
    top: 18%;
    left: 24%;
    outline: 0;
    z-index: 999;
    border: 1px solid #C2C2C2;
    border-radius: 15px;
    padding:30px 30px 30px 30px;
    background-color: #FFFFFF;
    display: none;
}
.detail table{
    text-align: left;
}
.detail table tr{
    height: 50px;
}
.detail table tr td{
    width: 240px;
    position: relative;
}
.detail table input{
    width: 150px;
}
#userinfodetail{
    position: fixed;
    margin: 0;
    top: 15%;
}
.userphoto{
    width: 150px;
    height: 150px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 5%;
    bottom: 0;
}
.readonly{
    border: 0px;
    cursor: default;
}
.operation div{
    width: 100px;
    height: 30px;
    background-color: #15D6BA;
    color: #FFFFFF;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    margin: 30px 55px 0 55px;
}
#confirm{
     width: 100%;
     height: 60px;
     position: relative;
}
#confirm div{
    width: 100px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 30px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 30px;
    border-radius: 15px;
    color: #FFFFFF;
    background-color: #15D6BA;
}
.save{
    float: left;
}
.save:hover{
    cursor: pointer;
}
.cancel{
    float: right;
}
.cancel:hover{
    cursor: pointer;
}